/* app/components/Header/Header.module.css */

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #121212;
  height: 70px;
  color: #FAFAFA;
}

/* --- Phần bên trái --- */
.leftSection {
  display: flex;
  align-items: center;
  gap: 24px;
}

.logo {
  font-size: 1.5rem; 
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 20px;
}

.navLink {
  color: #AAAAAA;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s;
}

.navLink:hover {
  color: #FAFAFA;
}


/* --- Phần bên phải --- */
.rightSection {
  display: flex;
  align-items: center;
  gap: 24px;
}

.userBalance {
  color: #AAAAAA;
  font-size: 0.9rem;
  font-weight: 500;
}

.downloadButton {
  background-color: #0078F2; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.downloadButton:hover {
  background-color: #005EC2; 
}