/* app/globals.css */

/* Reset CSS cơ bản */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* Đây là màu nền tối giống Epic Store */
  background-color: #121212;
  
  /* Màu chữ mặc định là màu trắng nhạt */
  color: #FAFAFA;
  
  /* Font chữ chung (Bạn có thể đổi sang font khác nếu muốn) */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

/* Định dạng chung cho link */
a {
  color: inherit; /* Link sẽ có màu giống chữ thường */
  text-decoration: none; /* Bỏ gạch chân */
}